<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vanphu.qlchitieu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cuoiicon"
        android:label="Quản Lý Chi Tiêu"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".introslide" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".registered" />
        <activity android:name=".selectionimage" />
        <activity android:name=".selectmoney" />
        <activity
            android:name=".manhinhchinh"
            android:label="@string/title_activity_manhinhchinh"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".themchitieu" />
        <activity android:name=".suachitieu" />
        <activity android:name=".Error_layout" />
        <activity android:name=".thongke" />
        <activity android:name=".selectimagechitieu" />
        <activity android:name=".forgetpassword" />
        <activity android:name=".changerpassword" />
        <activity android:name=".changermoney" />
        <activity android:name=".transfers_money"></activity>
    </application>

</manifest>